html, body{
    background-color: #333;
    color: white;
}

body{
    display: flex;
    justify-content: center;
}

h1, h2{
    text-align: center;
}

#buttons_container{
    display: flex;
    justify-content: space-between;
}

main{
    width: 90%;
}

canvas{
    width: 100%;
    height: 100%;

    max-width: 90vw;
    max-height: 75vh;

    border: 1px solid lime;
}

#controls_container{
    display: none;
    flex-direction: column;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 50%;
    height: 50%;

    border: 1px solid cyan;
    background-color: #666;
}

#controls_div{
    display: flex;
    justify-content: center;
}

table{
    width: 90%;
}

th:first-child, td:first-child{
    text-align: start;
}

th:last-child, td:last-child{
    text-align: end;
}